/* *{
    background-color: aquamarine;
} */

footer{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color:whitesmoke;
    color: black;
    width: 100%;
}

/* .nm{
    background-color: blueviolet !important;
} */
